In [18]:
import pandas
import numpy as np
df = pandas.read_csv("Saturday, April 02, 2016")
df.columns = ['C/A','UNIT','SCP','STATION','LINENAME','DIVISION','DATE','TIME','DESC','IN','OUT']
df = df[['UNIT', 'DATE', 'TIME', "IN", "OUT"]]
df

        UNIT        DATE      TIME       IN      OUT
0       R051  03/26/2016  00:00:00  5595746  1893277
1       R051  03/26/2016  04:00:00  5595746  1893282
2       R051  03/26/2016  08:00:00  5595746  1893282
3       R051  03/26/2016  12:00:00  5595746  1893282
4       R051  03/26/2016  16:00:00  5595746  1893282
5       R051  03/26/2016  20:00:00  5595746  1893282
6       R051  03/27/2016  00:00:00  5595746  1893282
7       R051  03/27/2016  04:00:00  5595746  1893282
8       R051  03/27/2016  08:00:00  5595746  1893282
9       R051  03/27/2016  12:00:00  5595746  1893282
10      R051  03/27/2016  16:00:00  5595746  1893282
11      R051  03/27/2016  20:00:00  5595746  1893282
12      R051  03/28/2016  00:00:00  5595746  1893282
13      R051  03/28/2016  04:00:00  5595746  1893282
14      R051  03/28/2016  08:00:00  5595780  1893382
15      R051  03/28/2016  12:00:00  5595936  1893679
16      R051  03/28/2016  16:00:00  5596182  1893748
17      R051  03/28/2016  20:00:00  5596691  1893934
18      R051  03/29/2016  00:00:00  5596896  1893974
19      R051  03/29/2016  04:00:00  5596905  1893975
20      R051  03/29/2016  08:00:00  5596942  1894084
21      R051  03/29/2016  12:00:00  5597074  1894423
22      R051  03/29/2016  16:00:00  5597352  1894489
23      R051  03/29/2016  20:00:00  5597835  1894809
24      R051  03/30/2016  00:00:00  5598003  1894856
25      R051  03/30/2016  04:00:00  5598010  1894859
26      R051  03/30/2016  08:00:00  5598057  1894956
27      R051  03/30/2016  12:00:00  5598218  1895280
28      R051  03/30/2016  16:00:00  5598477  1895355
29      R051  03/30/2016  20:00:00  5598979  1895657
...      ...         ...       ...      ...      ...
194124  R469  03/28/2016  01:00:00     5554      241
194125  R469  03/28/2016  05:00:00     5554      241
194126  R469  03/28/2016  09:00:00     5554      241
194127  R469  03/28/2016  13:00:00     5554      241
194128  R469  03/28/2016  17:00:00     5554      241
194129  R469  03/28/2016  21:00:00     5554      241
194130  R469  03/29/2016  01:00:00     5554      241
194131  R469  03/29/2016  05:00:00     5554      241
194132  R469  03/29/2016  09:00:00     5554      241
194133  R469  03/29/2016  13:00:00     5554      241
194134  R469  03/29/2016  17:00:00     5554      241
194135  R469  03/29/2016  21:00:00     5554      241
194136  R469  03/30/2016  01:00:00     5554      241
194137  R469  03/30/2016  05:00:00     5554      241
194138  R469  03/30/2016  09:00:00     5554      241
194139  R469  03/30/2016  13:00:00     5554      241
194140  R469  03/30/2016  17:00:00     5554      241
194141  R469  03/30/2016  21:00:00     5554      241
194142  R469  03/31/2016  01:00:00     5554      241
194143  R469  03/31/2016  05:00:00     5554      241
194144  R469  03/31/2016  09:00:00     5554      241
194145  R469  03/31/2016  13:00:00     5554      241
194146  R469  03/31/2016  17:00:00     5554      241
194147  R469  03/31/2016  21:00:00     5554      241
194148  R469  04/01/2016  01:00:00     5554      241
194149  R469  04/01/2016  05:00:00     5554      241
194150  R469  04/01/2016  09:00:00     5554      241
194151  R469  04/01/2016  13:00:00     5554      241
194152  R469  04/01/2016  17:00:00     5554      241
194153  R469  04/01/2016  21:00:00     5554      241

[194154 rows x 5 columns]

In [52]:
diff = df['IN'].iloc[1:].values - df['IN'].iloc[:-1].values
df['IN'][1:] = diff
diff = df['OUT'].iloc[1:].values - df['OUT'].iloc[:-1].values
df['OUT'][1:] = diff
df['FLUX'] = df['OUT'] / df['IN'] - 1

/Library/Python/2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Library/Python/2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
geocode = pandas.read_csv('geocoded.csv', header=None)
geocode = geocode.drop_duplicates(0)
geocode = geocode[[0,5,6]]
geocode.columns = ['UNIT', 'LAT', 'LON']
geocode_mapping = {row.values[0]:[row[1], row[2]] for index,row in geocode.iterrows()}

In [32]:
def map(unit):
    try:
        return geocode_mapping[unit]
    except:
        return np.nan

df['COORD'] = df['UNIT'].apply(map)

In [33]:
df

,UNIT,DATE,TIME,IN,OUT,FLUX,COORD
0,R051,03/26/2016,00:00:00,5595746,1893277,0.338342,"[40.762796, -73.967686]"
1,R051,03/26/2016,04:00:00,0,5,inf,"[40.762796, -73.967686]"
2,R051,03/26/2016,08:00:00,0,0,NaN,"[40.762796, -73.967686]"
3,R051,03/26/2016,12:00:00,0,0,NaN,"[40.762796, -73.967686]"
4,R051,03/26/2016,16:00:00,0,0,NaN,"[40.762796, -73.967686]"
5,R051,03/26/2016,20:00:00,0,0,NaN,"[40.762796, -73.967686]"
6,R051,03/27/2016,00:00:00,0,0,NaN,"[40.762796, -73.967686]"
7,R051,03/27/2016,04:00:00,0,0,NaN,"[40.762796, -73.967686]"
8,R051,03/27/2016,08:00:00,0,0,NaN,"[40.762796, -73.967686]"
9,R051,03/27/2016,12:00:00,0,0,NaN,"[40.762796, -73.967686]"
10,R051,03/27/2016,16:00:00,0,0,NaN,"[40.762796, -73.967686]"
11,R051,03/27/2016,20:00:00,0,0,NaN,"[40.762796, -73.967686]"
12,R051,03/28/2016,00:00:00,0,0,NaN,"[40.762796, -73.967686]"
13,R051,03/28/2016,04:00:00,0,0,NaN,"[40.762796, -73.967686]"
14,R051,03/28/2016,08:00:00,34,100,2.941176,"[40.762796, -73.967686]"
15,R051,03/28/2016,12:00:00,156,297,1.903846,"[40.762796, -73.967686]"
16,R051,03/28/2016,16:00:00,246,69,0.280488,"[40.762796, -73.967686]"
17,R051,03/28/2016,20:00:00,509,186,0.365422,"[40.762796, -73.967686]"
18,R051,03/29/2016,00:00:00,205,40,0.195122,"[40.762796, -73.967686]"
19,R051,03/29/2016,04:00:00,9,1,0.111111,"[40.762796, -73.967686]"
20,R051,03/29/2016,08:00:00,37,109,2.945946,"[40.762796, -73.967686]"
21,R051,03/29/2016,12:00:00,132,339,2.568182,"[40.762796, -73.967686]"
22,R051,03/29/2016,16:00:00,278,66,0.237410,"[40.762796, -73.967686]"
23,R051,03/29/2016,20:00:00,483,320,0.662526,"[40.762796, -73.967686]"
24,R051,03/30/2016,00:00:00,168,47,0.279762,"[40.762796, -73.967686]"
25,R051,03/30/2016,04:00:00,7,3,0.428571,"[40.762796, -73.967686]"
26,R051,03/30/2016,08:00:00,47,97,2.063830,"[40.762796, -73.967686]"
27,R051,03/30/2016,12:00:00,161,324,2.012422,"[40.762796, -73.967686]"
28,R051,03/30/2016,16:00:00,259,75,0.289575,"[40.762796, -73.967686]"
29,R051,03/30/2016,20:00:00,502,302,0.601594,"[40.762796, -73.967686]"
...,...,...,...,...,...,...,...
194124,R469,03/28/2016,01:00:00,0,0,NaN,"[40.7574, -73.954006]"
194125,R469,03/28/2016,05:00:00,0,0,NaN,"[40.7574, -73.954006]"
194126,R469,03/28/2016,09:00:00,0,0,NaN,"[40.7574, -73.954006]"
194127,R469,03/28/2016,13:00:00,0,0,NaN,"[40.7574, -73.954006]"
194128,R469,03/28/2016,17:00:00,0,0,NaN,"[40.7574, -73.954006]"
194129,R469,03/28/2016,21:00:00,0,0,NaN,"[40.7574, -73.954006]"
194130,R469,03/29/2016,01:00:00,0,0,NaN,"[40.7574, -73.954006]"
194131,R469,03/29/2016,05:00:00,0,0,NaN,"[40.7574, -73.954006]"
194132,R469,03/29/2016,09:00:00,0,0,NaN,"[40.7574, -73.954006]"
194133,R469,03/29/2016,13:00:00,0,0,NaN,"[40.7574, -73.954006]"
194134,R469,03/29/2016,17:00:00,0,0,NaN,"[40.7574, -73.954006]"
194135,R469,03/29/2016,21:00:00,0,0,NaN,"[40.7574, -73.954006]"
194136,R469,03/30/2016,01:00:00,0,0,NaN,"[40.7574, -73.954006]"
194137,R469,03/30/2016,05:00:00,0,0,NaN,"[40.7574, -73.954006]"
194138,R469,03/30/2016,09:00:00,0,0,NaN,"[40.7574, -73.954006]"
194139,R469,03/30/2016,13:00:00,0,0,NaN,"[40.7574, -73.954006]"
194140,R469,03/30/2016,17:00:00,0,0,NaN,"[40.7574, -73.954006]"
194141,R469,03/30/2016,21:00:00,0,0,NaN,"[40.7574, -73.954006]"
194142,R469,03/31/2016,01:00:00,0,0,NaN,"[40.7574, -73.954006]"
194143,R469,03/31/2016,05:00:00,0,0,NaN,"[40.7574, -73.954006]"
194144,R469,03/31/2016,09:00:00,0,0,NaN,"[40.7574, -73.954006]"
194145,R469,03/31/2016,13:00:00,0,0,NaN,"[40.7574, -73.954006]"
194146,R469,03/31/2016,17:00:00,0,0,NaN,"[40.7574, -73.954006]"
194147,R469,03/31/2016,21:00:00,0,0,NaN,"[40.7574, -73.954006]"
194148,R469,04/01/2016,01:00:00,0,0,NaN,"[40.7574, -73.954006]"
194149,R469,04/01/2016,05:00:00,0,0,NaN,"[40.7574, -73.954006]"
194150,R469,04/01/2016,09:00:00,0,0,NaN,"[40.7574, -73.954006]"
194151,R469,04/01/2016,13:00:00,0,0,NaN,"[40.7574, -73.954006]"
194152,R469,04/01/2016,17:00:00,0,0,NaN,"[40.7574, -73.954006]"
194153,R469,04/01/2016,21:00:00,0,0,NaN,"[40.7574, -73.954006]"

In [23]:
import gmaps

In [60]:
gmaps.heatmap(list(df['COORD'])[:19000], point_radius=15)

float

In [44]:
data = gmaps.datasets.load_dataset('taxi_rides')
#gmaps.heatmap(data)
type(data[0][0])

float